.App {
  text-align: center;
  background-color: bisque;
  padding-top: 50px;
  padding-bottom: 150px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

form {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 40px auto;
}

input {
  width: 300px;
  border-radius: 20px;
  margin-right: 25px;
  padding: 10px;
}

button {
  border: none;
  background: skyblue;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
}
button:hover {
  color: white;
  background-color: steelblue;
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
}

p {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}